registry=https://registry.npmjs.org/
@lesstalkmorecode:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=ee2c482e4846b1cfbd514f597278b59fc89b96f3
registry=https://registry.npmjs.org/